<!--The content below is only a placeholder and can be replaced.-->
<div style="height: 8%;text-align: center">
    <h2 style="text-align:center;display: inline">
      欢迎来到我的快速启动项目指南!
    </h2>
</div>

<div style="height: 18rem;text-align: left">
  <span>1.访问需要登录才能进入的页面(<strong>请注意地址栏地址</strong>)：<a routerLink="/guide/activate">路由守卫</a></span>
  <br>
  <span>2.使用HttpClient发送Http请求，以及使用<strong>拦截器</strong>：<a routerLink="/guide/http">HttpClient</a></span>

</div>
<div style="background-color: grey;text-align: center">
  访问路由展示
</div>

<div style="bottom: 0; border: solid;height: 20rem">

  <router-outlet></router-outlet>
</div>

<!--<div style="height: 20%">-->
  <!--<h4>这里有一些帮助性文档 </h4>-->
  <!--<ul>-->
    <!--<li>-->
      <!--<a target="_blank" rel="noopener" href="https://angular.cn">Angular 中文网</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->

